extends ../../_layouts/main.jade

block append head
  style.
  script.


block content
  // Swiper
  section
    #fullpage





      .section.one
        .h2.white
          | Новое Имя, Яркое Будущее, Представляем FUTU Capital
        +separator()
        .h3.white
          | Мы предлагаем лучшие курсы обмена валют, чем у большинства банков - безопасный, быстрый и удобный обмен валюты.
        //- .h4.white
          | Excellent Rate, Safe & Convenient Foreign.

      




      .section.two
        .black-wrapper
          .h2.white
            | Кто Мы
          .h5.white.mxw
            | Узнайте, кто мы и что мы делаем для того, чтобы помочь Вам с Вашими финансовыми потребностями.
        .fixed-bottom
          ul
            li
              a(href='/#{LNG_PREFIX}#{lng}/about-futu-capital/') О компании FUTU Capital
            li
              a(href='/#{LNG_PREFIX}#{lng}/about-accredetation/') Регулирование
            li
              a(href='/#{LNG_PREFIX}#{lng}/about-partners/') Партнеры
            li
              a(href='/#{LNG_PREFIX}#{lng}/about-risk-disclosure/') Предупреждения о рисках
      




      .section.three
        .black-wrapper
          .h2.white
            | Продукты и услуги
          .h5.white.mxw
            | Независимо от того, когда и где вы хотите торговать, FUTU Capital предложит вам неограниченные возможности.
        .fixed-bottom
          ul
            li
              a(href='/#{LNG_PREFIX}#{lng}/pas-fx-market/') FOREX
            li
              a(href='/#{LNG_PREFIX}#{lng}/pas-liquidity-solutions/') Решения по ликвидности
            li
              a(href='/#{LNG_PREFIX}#{lng}/pas-corporate-fx/') Корпоративный FOREX
            li
              a(href='/#{LNG_PREFIX}#{lng}/pas-securities/') Акции
            li
              a(href='/#{LNG_PREFIX}#{lng}/pas-wealth-management/') Управление активами
      




      .section.four
        .black-wrapper
          .h2.white
            | Партнерская программа
          .h5.white.mxw.fs18
            | Если Вы умеете привлекать траффик в интернете, писать полезные статьи или к Вашим рекомендациям прислушиваются состоятельные инвесторы, то Вы сможете получать солидный доход. Он формируется в виде процента от комиссии брокера по торговым операциям клиентов. 
          .h5.white.mxw.fs18
            | Компания FUTU Capital, вызывает высокое доверие среди состоятельных инвесторов, что напрямую отражается как на высоком проценте конверсии вашего трафика, так и на объемах торговых операций. 
          .h5.white.mxw.fs18
            | Вы сможете получать прибыль с каждой торговой операцией привлеченных клиентов, получая одно из самых высоких на рынке партнерских вознаграждений!
      





      .section.five
        .black-wrapper
          .h2.white
            | Контакты
          .h5.white.mxw
            | Где бы вы ни находились, вы получите высококачественную поддержку от нашей команды по всему миру в режиме 24/7
        
        .fixed-bottom
          ul.rd-navbar-dropdown
            li
              a(href='/#{LNG_PREFIX}#{lng}/contacts/') Контакты







block footer