//- 
//- дерем шаблон отсюда:
//- http://www.templatemonster.com/ru/demo/58735.html
//- 


include ../_mixins/global

doctype
html.wide.wow-animation.smoothscroll
  head
    block head
      include ./parts/_head
    title
      block pageTitle
        | #{pageTitle ? pageTitle+' - ' : title ? title+' - ' : ''}
        | ReliantMC
    body#body
      +globalVar('defaultDateFormat', ddf)
      block body
        .page.text-center
          header.page-head
            //- navbar
            .rd-navbar-wrap
              nav.rd-navbar(
                data-layout='rd-navbar-fixed',
                data-sm-layout='rd-navbar-fixed',
                data-lg-layout='rd-navbar-static',
                data-sm-stick-up-offset='31px',
                data-lg-stick-up-offset='41px',
                data-xl-stick-up-offset='41px',
                data-md-layout='rd-navbar-fullwidth',
                data-md-device-layout='rd-navbar-fixed', 
                data-lg-device-layout='rd-navbar-fixed'
                )
                .rd-navbar-inner
                  .rd-navbar-outher
                    // RD Navbar Panel
                    .rd-navbar-panel
                      // RD Navbar Toggle
                      button.rd-navbar-toggle(
                        data-rd-navbar-toggle='.rd-navbar-nav-wrap'
                        )
                        span
                      button.rd-navbar-collapse-toggle(
                        data-rd-navbar-toggle='.rd-navbar-collapse'
                        )
                        span
                      // RD Navbar Brand
                      .rd-navbar-brand
                        a.brand-name(href='#')
                          img(src='images/header-logo-268x57.png', width='268', height='57')
                      .rd-navbar-brand-mobile
                        a.brand-name(href='#')
                          img(src='images/header-logo-mobile-268x57.png', width='268', height='57')
                    .rd-navbar-nav-wrap
                      // RD Navbar Nav
                      ul.rd-navbar-nav
                        li.active
                          a(href='/') Home
                        li
                          a(href='/static/business-in-uae') Business In UAE
                        li
                          a(href='/static/industries') Industries
                        li.mr-10
                          a(href='/static/contacts') Contacts
                        li.extra-link
                          a(href='#')
                            i.fa.fa-facebook-square
                        li.extra-link
                          a(href='#')
                            i.fa.fa-twitter-square
                        li.extra-link
                          a(href='#')
                            i.fa.fa-google-plus-square
                  //- @todo
                  //- include ./parts/navigation

          main.page-content
            //- include ./parts/topnav
            //- include ./parts/breadcrumbs
            block content

          footer.page-foot.text-sm-left.section-50.section-lg-90.offset-md-top--40
            .shell
              .range
                .cell-md-5.offset-top-10
                  a.brand(href='#')
                    img(src='images/footer-logo-266x55.png', alt='', width='266', height='55')
                  p
                    | Investment products and services available only to residents of : Arizona - AZ, California - CA, Hawaii - HI, Idaho - ID, New Jersey - NJ, New Mexico - NM, Oregon - OR, Washington - WA Securities and Investment Advice through John Doe & Company, A registered broker/dealer and Investment Advisor, Member FINRA and SIPC. 101 Serious Road, Fincity, FL 32707 Tel: (959) 603- 6035.| John Doe Financial Advisors is not an affiliate of Wall Street Company.
                  p
                    | All other trademarks and copyrights are the properties of their respective holders. This website provides information related to the subjects covered. Before making any financial or legal decisions, a professional should be consulted.
                .cell-xs-8.cell-xs-preffix-3.cell-sm-6.cell-sm-preffix-0.cell-md-3.cell-md-preffix-1.text-left.offset-top-50.offset-md-top-0
                  h3.text-medium Financial Planning
                  ul.marked-list
                    li
                      a(href='#') Investment Management
                    li
                      a(href='#') Retirement Planning
                    li
                      a(href='#') Long Term Care
                    li
                      a(href='#') Estate Planning
                    li
                      a(href='#') Social Security
                .cell-xs-6.cell-xs-preffix-3.cell-sm-6.cell-sm-preffix-0.cell-md-3.offset-top-50.offset-md-top-0.text-left
                  h3.text-medium Investment Help
                  ul.marked-list
                    li
                      a(href='#') Wealth Management
                    li
                      a(href='#') Retirement & College Savings
                    li
                      a(href='#') Business Owners
                    li
                      a(href='#') Insurance & Annuities
                    li
                      a(href='#') Cash & Credit
                    li
                      a(href='#') Stocks, Bonds & Mutual Funds
              p.offset-top-50
                | Copyright ©  
                span#copyright-year
                |   
                a(href='#')  Privacy Policy
                // {%FOOTER_LINK}
    


    //- исходники шаблона
    script(src='js/tpl/core.min.js')
    script(src='js/tpl/script.js')
    //- 
