extends ../../_layouts/main.jade

block append head
  style.
  script.


block content
  // Swiper
  section
    #fullpage





      .section.one
        .h2.white
          | 个新的名字，更美好的未来，介绍浮图资本
        +separator()
        .h3.white
          | 我们提供的汇率比大多数银行更好 安全，快捷便捷的货币兑换务。
        //- .h4.white
          | Excellent Rate, Safe & Convenient Foreign.

      




      .section.two
        .black-wrapper
          .h2.white
            | 我们是谁
          .h5.white.mxw
            | 了解我们是谁，我们做什么来帮助您解决海外的金融需求
        .fixed-bottom
          ul
            li
              a(href='/#{LNG_PREFIX}#{lng}/about-futu-capital/') 关于富通资本
            li
              a(href='/#{LNG_PREFIX}#{lng}/about-accredetation/') 认可
            li
              a(href='/#{LNG_PREFIX}#{lng}/about-partners/') 伙伴
            li
              a(href='/#{LNG_PREFIX}#{lng}/about-risk-disclosure/') 风险披露
      




      .section.three
        .black-wrapper
          .h2.white
            | 产品与服务
          .h5.white.mxw
            | 无论您何时何地进行交易，富都资本将为您提供无限的机会。
        .fixed-bottom
          ul
            li
              a(href='/#{LNG_PREFIX}#{lng}/pas-fx-market/') 外汇市场
            li
              a(href='/#{LNG_PREFIX}#{lng}/pas-liquidity-solutions/') 液体解决方案
            li
              a(href='/#{LNG_PREFIX}#{lng}/pas-corporate-fx/') 公司FX
            li
              a(href='/#{LNG_PREFIX}#{lng}/pas-securities/') 证券
            li
              a(href='/#{LNG_PREFIX}#{lng}/pas-wealth-management/') 财富管理
      




      .section.four
        .black-wrapper
          .h2.white
            | 在联盟计划下轻松赚取 富都资本
          .h5.white.mxw.fs18
            | 如果您知道如何吸引互联网流量，富裕的投资者会听取您的建议，那么富都资本的联盟计划将可以让您获得稳定的收入，而不用自己在金融市场进行交易。 它是以经纪人对客户交易业务佣金的百分比形成的。
          .h5.white.mxw.fs18
            | 当然，经纪人的素质对吸引新客户有直接的影响。 富都资本，受益于富裕投资者的高度信心，这直接反映在您的交通转换率和交易量的高比例。
          .h5.white.mxw.fs18
            | 富富资本经纪人，您对最高付款额，最少客户数量或交易数量没有限制。 这样，您可以从吸引客户的每次交易中获得市场上最高的利润率之一。
      





      .section.five
        .black-wrapper
          .h2.white
            | 联系
          .h5.white.mxw
            | 无论你身在何处，您将得到我们全球各地的24/7全天候高质量的支持
        
        .fixed-bottom
          ul.rd-navbar-dropdown
            li
              a(href='/#{LNG_PREFIX}#{lng}/contacts/') 联系页面







block footer