.rd-navbar-wrap
  nav.rd-navbar#menu(
    data-layout='rd-navbar-fixed',
    data-sm-layout='rd-navbar-fixed',
    data-lg-layout='rd-navbar-static',
    data-sm-stick-up-offset='31px',
    data-lg-stick-up-offset='41px',
    data-xl-stick-up-offset='41px',
    data-md-layout='rd-navbar-fullwidth',
    data-md-device-layout='rd-navbar-fixed', 
    data-lg-device-layout='rd-navbar-fixed'
    )
    .rd-navbar-inner
      .rd-navbar-outher
        .rd-navbar-panel
          button.rd-navbar-toggle(
            data-rd-navbar-toggle='.rd-navbar-nav-wrap'
            )
            span
          button.rd-navbar-collapse-toggle(
            data-rd-navbar-toggle='.rd-navbar-collapse'
            )
            span
          .rd-navbar-brand
            a.brand-name(href='/#{LNG_PREFIX}#{lng}')
              img(src='images/logo.png', width='268', height='57')
          .rd-navbar-brand-mobile
            a.brand-name(href='/#{LNG_PREFIX}#{lng}')
              img(src='images/logo.png', width='268', height='57')
        .rd-navbar-nav-wrap
          ul.rd-navbar-nav
            //- --- -//
            li.active(data-menuanchor="home")
              a(href='/#{LNG_PREFIX}#{lng}#home')
                +translate('Home')
            //- --- -//
            li.rd-navbar--has-dropdown.rd-navbar-submenu(data-menuanchor="about")
              //- @fixme - пока нет контента скрываю костылями.
              a(href='/#{LNG_PREFIX}#{lng}#about')
                +translate('About')
              ul.rd-navbar-dropdown
                li
                  a(href='/#{LNG_PREFIX}#{lng}/about-futu-capital/')
                    +translate('About us')
                li
                  a(href='/#{LNG_PREFIX}#{lng}/about-accreditation/')
                    +translate('Accredetation')
                li
                  a(href='/#{LNG_PREFIX}#{lng}/about-partners/')
                    +translate('Our partners')
                li
                  a(href='/#{LNG_PREFIX}#{lng}/about-risk-disclosure/')
                    +translate('Risk ')
              span.rd-navbar-submenu-toggle
            //- --- -//
            li.rd-navbar--has-dropdown.rd-navbar-submenu(data-menuanchor="product-and-service")
              //- @fixme - пока нет контента скрываю костылями.
              a(href='/#{LNG_PREFIX}#{lng}#product-and-service')
                +translate('Product and service')
              ul.rd-navbar-dropdown
                li
                  a(href='/#{LNG_PREFIX}#{lng}/pas-fx-market/')
                    +translate('FX market')
                li
                  a(href='/#{LNG_PREFIX}#{lng}/pas-liquidity-solutions/')
                    +translate('Liquidity solutions')
                li
                  a(href='/#{LNG_PREFIX}#{lng}/pas-corporate-fx/')
                    +translate('Corporate FX')
                li
                  a(href='/#{LNG_PREFIX}#{lng}/pas-securities/')
                    +translate('Securities')
                li
                  a(href='/#{LNG_PREFIX}#{lng}/pas-wealth-management/')
                    +translate('Wealth management')
              span.rd-navbar-submenu-toggle
            //- --- -//
            li(data-menuanchor="affiliate-program")
              a(href='/#{LNG_PREFIX}#{lng}#affiliate-program')
                +translate('Affiliate program')
            //- --- -//
            li.mr-10(data-menuanchor="contacts")
              a(href='/#{LNG_PREFIX}#{lng}#contacts')
                +translate('Contacts')
            //- --- -//
            li.extra-link
              a(href='/lng-ch', class="#{lng === 'ch' ? 'current' : 'non-current'}")
                | CH
              a(href='/lng-en', class="#{lng === 'en' ? 'current' : 'non-current'}")
                | EN
              a(href='/lng-ru', class="#{lng === 'ru' ? 'current' : 'non-current'}")
                | RU
